container_commands:
  00configuration_reset:
    test: test -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      rm /opt/elasticbeanstalk/.preconfig-complete
  01folder_configuration:
    test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      mkdir 'static/media/MPSH_entries/stage/'
      mkdir 'static/media/MPSH_entries/final/'
      mkdir 'static/secure/'
  10folder_permissions:
    test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      chmod -R 777 'static/media/MPSH_entries/stage/'
      chmod -R 777 'static/media/MPSH_entries/final/'
      chmod -R 777 'static/secure/'
  99complete:
    command: |
      touch /opt/elasticbeanstalk/.preconfig-complete

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["psh-s3-shared"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"


  files:
    "/static/secure/googleCreds.json" :
      mode: "000777"
      owner: root
      group: root
      authentication: "S3Auth"
      source: https://s3-ap-southeast-2.amazonaws.com/psh-s3-shared/secure/googleCreds.json
      