files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/final.sh:
      mode: "000777"
      owner: root
      group: root
      content: |
        #!/bin/sh
        aws s3 --region ap-southeast-2 cp s3://psh-s3-shared/secure/googleCreds.json /opt/python/ondeck/app/secure/googleCreds.json



container_commands:
  00configuration_reset:
    test: test -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      rm /opt/elasticbeanstalk/.preconfig-complete
  01folder_configuration:
    test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      mkdir '/opt/python/ondeck/app/static/media/MPSH_entries/stage/'
      mkdir '/opt/python/ondeck/app/static/media/MPSH_entries/final/'
      mkdir '/opt/python/ondeck/app/static/secure/'
  10folder_permissions:
    test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
    command: |
      chmod -R 777 '/opt/python/ondeck/app/static/media/MPSH_entries/stage/'
      chmod -R 777 '/opt/python/ondeck/app/static/media/MPSH_entries/final/'
      chmod -R 777 '/opt/python/ondeck/app/static/secure/'
  20SharedFileCleanup:
    test: test  -f  /secure/googleCreds.json
    command: |
      rm /secure/googleCreds.json 
  30SharedFileLoad:
    command: |
      bash /opt/elasticbeanstalk/hooks/appdeploy/post/final.sh
  99complete:
    command: |
      touch /opt/elasticbeanstalk/.preconfig-complete

