container_commands:
	01folder_configuration:
		test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
		command: |
			mkdir 'static/media/MPSH_entries/stage/'
			mkdir 'static/media/MPSH_entries/final/'
			mkdir 'static/secure/'
	10folder_permissions:
		test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
		command: |
			chmod -R 777 'static/media/MPSH_entries/stage/'
			chmod -R 777 'static/media/MPSH_entries/final/'
			chmod -R 777 'static/secure/'
	15shared_configuration:
		test: test ! -f  /opt/elasticbeanstalk/.preconfig-complete
		command: |
			aws s3 cp s3://psh-s3-shared/secure/ 'static/secure/' --recursive
	99complete:
		command: |
			touch /opt/elasticbeanstalk/.preconfig-complete


			