
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        {%- if request.path == "/" %}
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Photo Scav Hunt</a>
        {% else %}
        <a class="navbar-brand" href="/">Photo Scav Hunt</a>
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">How to play</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>-->
           <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li> -->
            {% if session.loggedIn %}
            <!--<li class="nav-item">
              <a class="nav-link" href="/rules">Rules</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/profile/{{session.userID}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/entries">Entries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submitEntry">Submit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/approve">Approve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scorecard">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up To Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}

          </ul>
        </div>
        </div>
      </div>
    </nav>
