
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        {%- if request.path == "/" %}
        <div class="navbar-header">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Photo Scav Hunt</a>
        </div>
        {% else %}
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Photo Scav Hunt</a>
        </div>
        
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

        {% if session.loggedIn %}  
        <ul class="nav navbar-nav">
          {%- if request.path == "/" %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">How to play</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/entries">Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/submitEntry">Submit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/approve">Approve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scorecard">Leaderboard</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/profile2/{{session.userID|int}}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>

        {% else %}
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">How to play</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up To Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
        {% endif %}


          </ul>
        </div>
        </div>
      </div>
    </nav>
