{% extends 'layout.html' %}

{% block body %} 
	<section>
		<div class="container">
			<div class="row">

				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<img style="height:auto; width:95%;" src="/static/media/MPSH_userProfiles/{{userDetails.userName}}.jpg" alt="Profile image example"/>
			            		</div>
			            		<div class="col">
			            			<div class="row">
				            			<h1>{{userDetails.userName}}</h1>
				            			<h2><b><i>{{userDetails.firstName}} {{userDetails.lastName}}</i></b></h2>
			            			</div>
			            			<div class="row">
			            				<p style="display: flex; justify-content: flex-start;">{{userDetails.bio}}</p>
			            			</div>
			            		</div>
		            		</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mb-4" align="center">
									<h3><b>GAME STATS</b></h3>
								</div>
							</div>
							<div class="row" align="center">
								<div class="col">
									<div class="avatar">
									    <img style="height:auto; width:20%;" src="/static/img/dashboard_entries.png" alt="" />
									</div>
									<div class="content">
									    <p class="dash_text_sub">Entires</p>
									    <p class="dash_text">{{userStats["totalEntries"]}}</p>		    
									</div>
								</div>
								<div class="col">
									<div class="avatar">
									    <img style="height:auto; width:20%;" src="/static/img/dashboard_score.png" alt="" />
									</div>
									<div class="content">
									    <p class="dash_text_sub">Score</p>
					                    <p class="dash_text">{{userStats["currentScore"]}}</p>
									</div>
								</div>
								<div class="col">
									<div class="avatar">
									    <img style="height:auto; width:20%;" src="/static/img/dashboard_rank.png" alt="" />
									</div>
									<div class="content">
									    <p class="dash_text_sub">Score</p>
					                    <p class="dash_text">{{userStats["currentScore"]}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="row" align="center">
								<div class="col mb-5">
									<h3><b>USER ENTRIES</b></h3>
								</div>
							</div>
							<div class="row" align="center">
							<div class="card-group">
							{% for entry in entries %}
								{% if entry.S3imgThumbURL %}
								<div class="col-lg-3 col-md-4 col-xs-6 d-flex align-items-stretch">
	          						<a href="#" class="d-block mb-4 mx-auto">
										<div class="card">
											<img class="card-img-top" style="height:auto; max-height: auto; min-height: 100px; width:100%; overflow-x: hidden; overflow-y: hidden;" src="{{entry.S3imgThumbURL}}" alt="{{entry.entryStatus[0].status.statusTitle}}">
											<div class="card-body">
												{% if ((entry.entryStatus[0].status.id|int) == 1) -%} 
													<h6 class="card-title alert alert-dark" role="alert">{{entry.entryStatus[0].status.statusTitle}}</h6>
												{% elif ((entry.entryStatus[0].status.id|int) == 2) -%} 
													<h6 class="card-title alert alert-primary" role="alert">{{entry.entryStatus[0].status.statusTitle}}</h6>
												{% elif ((entry.entryStatus[0].status.id|int) == 3) -%} 
													<h6 class="card-title alert alert-success" role="alert">{{entry.entryStatus[0].status.statusTitle}}</h6>
												{% elif ((entry.entryStatus[0].status.id|int) == 4) -%} 
													<h6 class="card-title alert alert-danger" role="alert">{{entry.entryStatus[0].status.statusTitle}}</h6>
												{%- endif %}
											</div>
										</div>
									</a>
								</div>
								{% endif %}
				        	{% endfor %}
				       		</div>
				        	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		

	

	

{% endblock %}



	