{% extends 'layout.html' %}

{% block body %}

	<!-- multistep form -->


	<header class="masthead text-center text-white d-flex" style="background-image:url('static/media/MPSH_entries/stage/{{headerEntry.imgFileName}}')">
		<div class="container my-auto">
        	<div class="row">
          		<div class="col-lg-10 mx-auto">
	          	<h2 class="section-heading">Sign Up To Play</h2>
				<center><hr class="my-4"></center>

				<form data-parsley-validate="" id="msform" method="POST" action="">
					<!-- progressbar -->
					<ul id="progressbar">
						<li class="active">Ready Player!</li>
						<li>Security</li>
						<li>Personality</li>
					</ul>
					<!-- fieldsets -->
					
					<!-- ######################################################################################################################## -->
					<!-- Username and Email Adress Registration -->
					<fieldset>

						<h2 class="fs-title">Create your account</h2>
						<h3 class="fs-subtitle">Choose a username. Give us an email!</h3>


						<input type="text" 
								name="userName" 
								id="rgst_userName"
								placeholder="USERNAME">
								<!--data-parsley-group="block1"
								data-parsley-whitespace="trim"
								data-parsley-trigger="keyup"
								data-parsley-length="[6, 30]"
								data-parsley-type="alphanum"
								data-parsley-existing-user=""
								data-parsley-validate>-->
						<span style="display:none" id="validation-text-username"></span>
						<br>

						<input type="email" 
							   name="email" 
							   id="rgst_email"
							   placeholder="EMAIL">
			                   <!--data-parsley-group="block1"
			                   data-parsley-whitespace="trim"
			                   data-parsley-trigger="keyup"
			                   data-parsley-existing-email=""
			                   data-parsley-validate>-->
			             <span style="display:none" id="validation-text-email"></span>
					


						<!--<div id="reg_sec1_errMsg" class="invalid-form-error-message"></div>
						<div id="reg_sec1_errMsg_Add" ></div>-->

						<input id="reg_sec1_next" type="button" name="next" disabled="true" class="next action-button-deactive" value="NEXT">
						
					</fieldset>
					<!-- ######################################################################################################################## -->

					<!-- ######################################################################################################################## -->
					<!-- Password and Password Confirm -->		
					<fieldset>

						<h2 class="fs-title">Security is important.</h2>
						<h3 class="fs-subtitle">Please select a strong password.</h3>
						<input type="password" id="rgst_password1" name="password" placeholder="PASSWORD" class="password">
							   <!--data-parsley-minlength="8"	 
							   data-parsley-group="block2"
			   				   data-parsley-uppercase="1"
							   data-parsley-lowercase="1"
							   data-parsley-number="1"
							   data-parsley-special="1"
							   data-parsley-trigger="keyup"
							   autocomplete="off">-->

						<span style="display:none" id="validation-text-password"></span>
						<br>

						<input type="password" id="rgst_password2" name="passwordConfirm" placeholder="REPEAT PASSWORD" >
							 <!--  data-parsley-group="block2" 
							   data-parsley-equalto="#rgst_password1"
							   data-parsley-trigger="keyup"
							   autocomplete="off">-->
						<span style="display:none" id="validation-text-passwordConfirm"></span>


						<div class="invalid-form-error-message"></div>
						<span class="errorspanconfirmnewpassinput"></span>
						<input type="button" name="previous" class="previous action-button" value="Previous" >
						<input id="reg_sec2_next" type="button" name="next" disabled="true" class="next action-button-deactive" value="Next" />
					</fieldset>
					<!-- ######################################################################################################################## -->

					<!-- ######################################################################################################################## -->
					<!-- First Name and Last Name Registration -->
					<fieldset>
						<h2 class="fs-title">Personal Details</h2>
						<h3 class="fs-subtitle">Getting to know you a bit better.</h3>
						<input id="rgst_firstName" type="text" name="firstName" placeholder="FIRST NAME" data-parsley-length="[3, 40]" data-parsley-group="block3" data-parsley-trigger="keyup" autocomplete="off">
						<span style="display:none" id="validation-text-firstName"></span>
						<br>
						<input id="rgst_lastName" type="text" name="lastName" placeholder="LAST NAME" data-parsley-length="[3, 40]" data-parsley-group="block3" data-parsley-trigger="keyup" autocomplete="off">
						<span style="display:none" id="validation-text-lastName"></span>


						<div class="invalid-form-error-message"></div>
						<input type="button" name="previous" class="previous action-button" value="PREVIOUS" />
						<input id="reg_sec3_next" type="submit" name="" disabled="true" 	class="submit action-button-deactive" value="SUBMIT" />
					</fieldset>
					<!-- ######################################################################################################################## -->
				</form>


	          </div>
	        </div>
    	</div>
	</header>
	
{% endblock%}


{% block script %}

	<script src="{{ url_for('static', filename='js/_userRegistration.js') }}" type="text/javascript"></script>

	<!--<script type="text/javascript">
		 $('#msform').change(function(){
		 	$('#msform').parsley().validate()
		});
	</script>-->


	


	





{% endblock %}
