{% extends 'layout.html' %}

{% block body %}
	<div style="padding-top: 90px;"></div>
	{% if listScores %}

	<section>
		<div class="container">
			<div class="card-deck-wrapper">
				<div class="card-deck mt-4">
					<!-- 1st Place -->
					<div class="card">
						<div class="card-body text-center">
							<h4>1st Place</h4>
							<img class="blog-author-img" src="static/media/MPSH_userProfiles/{{scorecard.users[0].userName}}.jpg" alt="">
							<h5>{{scorecard.users[0].userName}}</h5>
							<h6>{{scorecard.users[0].firstName}} {{scorecard.users[0].lastName}}</h6>
						</div>
					</div>
					<!-- 2nd Place -->
					<div class="card">
						<div class="card-body text-center">
							<h4>2nd Place</h4>
							<img class="blog-author-img" src="static/media/MPSH_userProfiles/{{scorecard.users[1].userName}}.jpg" alt="">
							<h5>{{scorecard.users[1].userName}}</h5>
							<h6>{{scorecard.users[1].firstName}} {{scorecard.users[1].lastName}}</h6>
						</div>
					</div>
					<!-- 3rd Place -->
					<div class="card">
						<div class="card-body text-center">
							<h4>3rd Place</h4>
							<img class="blog-author-img" src="static/media/MPSH_userProfiles/{{scorecard.users[2].userName}}.jpg" alt="">
							<h5>{{scorecard.users[2].userName}}</h5>
							<h6>{{scorecard.users[2].firstName}} {{scorecard.users[2].lastName}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>	
		<div class="container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th></th>
						{% for header in scorecard.headers %}
							<th scope="col">{{header}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>	
					{% for user in scorecard.users %}
					<tr>
						<td><div class="blog-author-img"><img src="static/media/MPSH_userProfiles/{{user.userName}}.jpg" alt=""></div></td>
						<td>{{user.userName}}</td>
						{% for entry in user.entries %}
							<td>{{entry.score}}</td>
						{% endfor %}
						<td>Total Score: {{user.totalScore}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	
	</section>

	{% else %}

	<header  id="about" class="masthead text-center text-white d-flex" style="background-image:url('/static/media/MPSH_entries/stage/{{headerEntry.imgFileName}}')">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>It's too soon!</strong>
            </h1>
            <center><hr></center>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Currently we don't have enough data to generate the scorecard for you.</u></p>
            <p class="text-faded mb-5">We are waiting for more entries to be approved or for more players to join.</u></p>
          </div>
        </div>
      </div>
    </header>

	{% endif %}



{% endblock%}

		
	







